doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    ul.navigationBar
      li.navigationList
        a.navigationText(href='/forside') Forside
      li.navigationList
        a.navigationText(href='/caesar_Cipher') The Caesar Cipher
      li.navigationList
        a.navigationText(href='/vigenere_Cipher') The Vigenére Cipher
    block content

