extends layout.pug 

block content
    .pageStructure
        .exerciseDiv
            h2 40.4.2. Assignment Security DS.1.1
            p Create an HTML5 page containing a textarea for entering cleartext to be encrypted with Vigenère's Cipher. Make an Encrypt button that activates the JavaScript to do the actual encryption.
            div 
                p hello
    footer
        p &copy; René Seebach, 2022